table, th, td{
  border: 1px solid black;
  border-collapse: collapse;
  padding: 1px;
}

.live-cell{
  background: white;
  color: white;
}

.dead-cell{
  background: black;
  color: black;
}

body{
  background: gray
}
